In [1]:
print("Hello desmond")

Hello desmond

### Variables in python

These are the variables in python.

It is important to note that 

variable assignment using a single equals =

variables must use letters first and not numbers e.g. var_1 and not 1_var

there are reserved words that cannot be used such as print, str, int....

### STRINGS
#### What is a String?

A string is a data type that is used to represent text rather than numbers and is composed of a set of characters and can also contain spaces and numbers.



#### Why do we use Strings?
Strings are useful when storing small or large bodies from single words to full sentences.



#### How do we use Strings?
Strings are assigned to variables using a single equals and are surrounded by triple quotes """ """, double quotes " " or single quotes ' ', 

although triple quotes are generally used for function doc strings so please use the single or double quotes.

In [4]:
string_1 = """This is a string"""    # triple quote
string_2 = "this is another string"  # double quote
string_3 = 'this is also a string'   # single quote

print(string_3)
type(string_1)

this is also a string

str

### Indexing a String
It is possible to index a string by referencing the position (or index) of a single character, or by referencing a range with a start and end position. Note: indexes start at where the first element is 0.

In [5]:
print(string_1)
print(string_1[0])
print(string_1[5:-3])

This is a string
T
is a str

### Integers

In [6]:
int_1 = 1
int_2 = -2
int_3 = 10 / 2

print(int_1, int_2)
type(int_1)

1 -2

int

### Basic Floating

In [7]:
float_1 = 1.0
float_2 = 3 / 1
print(float_1, float_2)
type(float_1)

1.0 3.0

float

### Basic Data Structures

In [8]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [9]:
fruits.count('apple')

2

In [10]:
fruits.count('tangerine')

0

In [11]:
fruits.index('banana')

3

In [12]:
fruits.index('banana', 4)  # Find next banana starting at position 4

6

In [13]:
fruits.reverse()

In [14]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [15]:
fruits.append('grape')

In [16]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [17]:
fruits.sort()

In [18]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [19]:
fruits.pop()

'pear'

#### Using lists as stacks

In [20]:
stack = [3, 4, 5]

In [21]:
stack.append(6)

In [22]:
stack.append(7)

In [23]:
stack

[3, 4, 5, 6, 7]

In [24]:
stack.pop()

7

In [25]:
stack

[3, 4, 5, 6]

In [26]:
stack.pop()

6

In [27]:
stack.pop()

5

In [28]:
stack

[3, 4]

#### using lists as queues

In [30]:
from collections import deque

In [31]:
queue = deque(["Eric", "John", "Michael"])

In [32]:
queue.append("Terry")           # Terry arrives

In [33]:
queue.append("Graham")          # Graham arrives

In [34]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [35]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [36]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

#### COmprehension of list

In [37]:
squares = []

In [38]:
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
squares = list(map(lambda x: x**2, range(10)))

In [40]:
### alternatively we can use 
squares = [x**2 for x in range(10)]

In [41]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [42]:
## alternatively this can be done with 
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]