### Variables in python

These are the variables in python.

It is important to note that: 

variable assignment using a single equals ' = '

Example: 

a = 43 or 

Name = Desmond


variables must use letters first and not numbers e.g. var_1 and not 1_var

there are reserved words that cannot be used such as print, str, int....

### STRINGS
#### What is a String?

A string is a data type that is used to represent text rather than numbers and is composed of a set of characters and can also contain spaces and numbers.



#### Why do we use Strings?
Strings are useful when storing small or large bodies from single words to full sentences.



#### How do we use Strings?
Strings are assigned to variables using a single equals and are surrounded by triple quotes """ """, double quotes " " or single quotes ' ', 

although triple quotes are generally used for function doc strings so please use the single or double quotes.

In [4]:
string_1 = """This is a string"""    # triple quote
string_2 = "this is another string"  # double quote
string_3 = 'this is also a string'   # single quote

print(string_3)
type(string_1)

this is also a string

str

### Indexing a String
It is possible to index a string by referencing the position (or index) of a single character, or by referencing a range with a start and end position. Note: indexes start at where the first element is 0.

In [5]:
print(string_1)
print(string_1[0])
print(string_1[5:-3])

This is a string
T
is a str

### Integers

In [6]:
int_1 = 1
int_2 = -2
int_3 = 10 / 2

print(int_1, int_2)
type(int_1)

1 -2

int

### Basic Floating

In [7]:
float_1 = 1.0
float_2 = 3 / 1
print(float_1, float_2)
type(float_1)

1.0 3.0

float

### Basic Data Structures

In [8]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [9]:
fruits.count('apple')

2

In [10]:
fruits.count('tangerine')

0

In [11]:
fruits.index('banana')

3

In [12]:
fruits.index('banana', 4)  # Find next banana starting at position 4

6

In [13]:
fruits.reverse()

In [14]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [15]:
fruits.append('grape')

In [16]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [17]:
fruits.sort()

In [18]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [19]:
fruits.pop()

'pear'

#### Using lists as stacks

In [20]:
stack = [3, 4, 5]

In [21]:
stack.append(6)

In [22]:
stack.append(7)

In [23]:
stack

[3, 4, 5, 6, 7]

In [24]:
stack.pop()

7

In [25]:
stack

[3, 4, 5, 6]

In [26]:
stack.pop()

6

In [27]:
stack.pop()

5

In [28]:
stack

[3, 4]

#### using lists as queues

In [30]:
from collections import deque

In [31]:
queue = deque(["Eric", "John", "Michael"])

In [32]:
queue.append("Terry")           # Terry arrives

In [33]:
queue.append("Graham")          # Graham arrives

In [34]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [35]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [36]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

#### COmprehension of list

In [37]:
squares = []

In [38]:
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
squares = list(map(lambda x: x**2, range(10)))

In [40]:
### alternatively we can use 
squares = [x**2 for x in range(10)]

In [41]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [42]:
## alternatively this can be done with 
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### More operations on list

In [43]:
vec = [-4, -2, 0, 2, 4]

In [44]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [45]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [46]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [47]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [48]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [49]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-49-a4841c5cdd7d>, line 1)

In [50]:
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [51]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

List comprehensions can contain complex expressions and nested functions:

In [52]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

## Understanding nested lists

In [54]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [55]:
## to transpose rows and columns
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [56]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [57]:
#This can also be done by
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [58]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [59]:
## the Del statement
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [60]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [61]:
del a[:]
a

[]

del can also be used to delete entire variables:

In [62]:
del a

### Tuples and Sequences

In [63]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [64]:
t

(12345, 54321, 'hello!')

In [65]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [68]:
v = ([1, 2, 3], [3, 2, 1])

In [69]:
v

([1, 2, 3], [3, 2, 1])

In [70]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

0

In [71]:
len(singleton)

1

In [72]:
singleton

('hello',)

In [73]:
x, y, z = t

### Sets

In [74]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'pear', 'apple', 'banana', 'orange'}

In [75]:
'orange' in basket

True

In [76]:
'crabgrass' in basket

False

In [77]:
a = set('abracadabra')
b = set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}

In [78]:
a - b

{'b', 'd', 'r'}

In [79]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [80]:
a & b

{'a', 'c'}

In [81]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [82]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionaries

In [94]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [95]:
tel['jack']

4098

In [96]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [97]:
list(tel)

['jack', 'guido', 'irv']

In [98]:
sorted(tel)

['guido', 'irv', 'jack']

In [99]:
'guido' in tel

True

In [100]:
'jack' not in tel

False

The dict() constructor builds dictionaries directly from sequences of key-value pairs:

In [101]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [102]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [103]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### Looping Techniques

In [104]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [105]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [106]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [107]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [108]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [109]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [110]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [111]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [ ]:
S